.dogs-container {
  /* margin: 10px 0; */
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 20px;
  /* border-bottom: 1px solid #ddd; */
}

.dogs-container .dog {
  flex: 1 0 20%;
  margin: 5px 0;
  cursor: pointer;
  box-sizing: border-box;
}

.dogs-container .dog:hover {
  background-color: #ddd;
}

.cover {
  padding: 20px;
  object-fit: cover;
}
